---
layout: default
slug: team
---

<h2>Organizing Committee</h2>
{% assign grouped = site.data.organizingcom | group_by: "ChairType" %}

{% for ChairType in grouped %}
<div class="row">
    <div class="col-md-10 col-lg-8">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">{{ChairType.name}}</h3>
        </div>
        <div class="panel-body">
          <div class="row">
            {% for item in ChairType.items %}
            <div class="col-xs-6 col-sm-5 col-sm-offset-1">
                      <p>
                        <a href="mailto:{{% item.Email %}}">item.Name</a><br/>
                        item.Affiliation<br/>
                        item.Location
                      </p>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
</div>
{% endfor %}

<!---
            
                        <img class="team-face img-responsive" src="/assets/faces/nayak.jpg"/>

                    <div class="col-xs-6 col-sm-5 col-sm-offset-1">
                        <img class="team-face img-responsive" src="/assets/faces/mohanty.jpg"/>
                        <p>
                            <a href="mailto:saraju.mohanty@unt.edu">Saraju P. Mohanty</a><br/>
                            University of North Texas (UNT)<br/>
                            USA
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-10 col-lg-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Program Chairs</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-6 col-sm-5 col-sm-offset-1">
                        <img class="team-face img-responsive" src="/assets/faces/sengupta.jpg"/>
                        <p>
                            <a href="mailto:asengupt@iiti.ac.in">Anirban Sengupta</a><br/>
                            Indian Institute of Technology Indore<br/>
                            India
                        </p>
                    </div>
                    <div class="col-xs-6 col-sm-5 col-sm-offset-1">
                        <img class="team-face img-responsive" src="/assets/faces/ganapathiraju.jpg"/>
                        <p>
                            <a href="http://tonks.dbmi.pitt.edu" target="_blank">Madhavi K. Ganapathiraju</a><br/>
                            University of Pittsburgh<br/>
                            USA
                        </p>
                    </div>
                    <div class="col-xs-6 col-sm-5 col-sm-offset-1">
                        <img class="team-face img-responsive" src="/assets/faces/ddas.jpg"/>
                        <p>
                            <a href="mailto:">Debabrata Das</a><br/>
                            IIIT Bangalore<br/>
                            India
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-10 col-lg-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Publication Chair</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-6 col-sm-5 col-sm-offset-1">
                        <img class="team-face img-responsive" src="/assets/faces/nray.jpg"/>
                        <p>
                            <a href="mailto:rayniranjan@gmail.com">Niranjan Ray</a><br/>
                            Silicon Institute of Technology, Bhubaneswar<br/>
                            India
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-10 col-lg-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Web Chair</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-6 col-sm-5 col-sm-offset-1">
                        <img class="team-face img-responsive" src="/assets/faces/borowczak.jpg"/>
                        <p>
                            <a href="http://www.erebuslabs.com">Mike Borowczak</a><br/>
                            Erebus Labs<br/>
                            USA
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-10 col-lg-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Student Research Forum Chairs</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-6 col-sm-5 col-sm-offset-1">
                        <img class="team-face img-responsive" src="/assets/faces/rath.jpg"/>
                        <p>
                            <a href="mailto:amiyaamiya@rediffmail.com">Amiya K. Rath</a><br/>
                            VSS University of Technology (VSSUT), Burla<br/>
                            India
                        </p>
                    </div>
                    <div class="col-xs-6 col-sm-5 col-sm-offset-1">
                        <img class="team-face img-responsive" src="/assets/faces/patra.jpg"/>
                        <p>
                            <a href="mailto:sabyasachi@iiit-bh.ac.in">Sabyasachi Patra</a><br/>
                            IIIT Bhubaneswar<br/>
                            India
                        </p>
                    </div>
					
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-10 col-lg-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Tutorial Chairs</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-6 col-sm-5 col-sm-offset-1">
                        <img class="team-face img-responsive" src="/assets/faces/biswal.jpg"/>
                        <p>
                            <a href="mailto:pradyut@iit-bh.ac.in">Pradyut Biswal</a><br/>
                            IIIT Bhubaneswar<br/>
                            India
                        </p>
                    </div>
                    <div class="col-xs-6 col-sm-5 col-sm-offset-1">
                        <img class="team-face img-responsive" src="/assets/faces/chatterjee.jpg"/>
                        <p>
                            <a href="mailto:niladri@maths.iitd.ac.in">Niladri Chatterjee</a><br/>
                            Indian Institute of Technology, Delhi<br/>
                            India
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-10 col-lg-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Finance Chairs</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-6 col-sm-5 col-sm-offset-1">
                        <img class="team-face img-responsive" src="/assets/faces/adas.jpg"/>
                        <p>
                            <a href="mailto:ajit@iiit-bh.ac.in">Ajit Das</a><br/>
                            IIIT Bhubaneswar<br/>
                            India
                        </p>
                    </div>
                    <div class="col-xs-6 col-sm-5 col-sm-offset-1"><!--
                        <img class="team-face img-responsive" src="/assets/faces/behera.jpg"/>
                        <img class="team-face img-responsive" src="/assets/faces/missing.png"/>
                        <p>
                            <a href="">Ajit Behera</a><br/>
                            Treasurer, Orissa Information Technology Society (OITS)<br/>
                            India
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-10 col-lg-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Local Arrangement Chairs</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-6 col-sm-5 col-sm-offset-1">
                        <img class="team-face img-responsive" src="/assets/faces/balabantaray.jpg"/>
                        <p>
                            <a href="mailto:rakesh@iiit-bh.ac.in">Rakesh C. Balabantaray</a><br/>
                            IIIT Bhubaneswar<br/>
                            India
                        </p>
                    </div>
                    <div class="col-xs-6 col-sm-5 col-sm-offset-1">
                        <img class="team-face img-responsive" src="/assets/faces/smishra.png"/>
                        <p>
                            <a href="mailto:sivkumar@iiit-bh.ac.in">Sivkumar Mishra</a><br/>
                            IIIT Bhubaneswar<br/>
                            India
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-10 col-lg-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Publicity Chairs</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-6 col-sm-5 col-sm-offset-1">
                        <img class="team-face img-responsive" src="/assets/faces/nanda.jpg"/>
                        <p>
                            <a href="mailto:priyadarsi.nanda@uts.edu.au">Priyadarsi Nanda</a><br/>
                            University of Technology, Sydney<br/>
                            Australia
                        </p>
                    </div>
                    <div class="col-xs-6 col-sm-5 col-sm-offset-1">
                        <img class="team-face img-responsive" src="/assets/faces/missing.png"/>
                        <p>
                            <a href="mailto:rsouvik@gmail.com">Souvik Ray</a><br/>
                            ShareThis Inc.<br/>
                            USA
                        </p>
                    </div>
                    <div class="col-xs-6 col-sm-5 col-sm-offset-1">
                        <img class="team-face img-responsive" src="/assets/faces/rup.jpg"/>
                        <p>
                            <a href="mailto:suvendu@iiit-bh.ac.in">Suvendu Rup</a><br/>
                            IIIT Bhubaneswar<br/>
                            India
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-10 col-lg-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Registration Chair</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-6 col-sm-5 col-sm-offset-1">
                        <img class="team-face img-responsive" src="/assets/faces/mohapatra.jpg"/>
                        <p>
                            <a href="mailto:puspanjali@iiit-bh.ac.in">Puspanjali Mohapatra</a><br/>
                            IIIT Bhubaneswar<br/>
                            India
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-10 col-lg-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Advisors</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-6 col-sm-5 col-sm-offset-1">
                        <img class="team-face img-responsive" src="/assets/faces/missing.png"/>
                        <p>
                            <a href="mailto:prof_cks@yahoo.com">Chandan Kumar Sarkar</a><br/>
                            Chairman, IEEE Kolkata Section<br/>
                            India
                        </p>
                    </div>
                    <div class="col-xs-6 col-sm-5 col-sm-offset-1">
                        <img class="team-face img-responsive" src="/assets/faces/missing.png"/>
                        <p>
                            <a href="mailto:bhuyan@cs.ucr.edu">Laxmi Narayan Bhuyan</a><br/>
                            University of California Riverside<br/>
                            USA
                        </p>
                    </div>
                    <div class="col-xs-6 col-sm-5 col-sm-offset-1">
                        <img class="team-face img-responsive" src="/assets/faces/missing.png"/>
                        <p>
                            <a href="mailto:pmohapatra@ucdavis.edu">Prasant Mohapatra</a><br/>
                            University of California Davis<br/>
                            USA
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-10 col-lg-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Steering Committee (Permanent)</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-6 col-sm-5 col-sm-offset-1">
                        <img class="team-face img-responsive" src="/assets/faces/misra.png"/>
                        <p>
                            <a href="">Durga Misra</a><br/>
                            New Jersey Institute of Technology<br/>
                            USA
                        </p>
                    </div>
                    <div class="col-xs-6 col-sm-5 col-sm-offset-1">
                        <img class="team-face img-responsive" src="/assets/faces/mohanty.jpg"/>
                        <p>
                            <a href="">Saraju P. Mohanty</a><br/>
                            University of North Texas<br/>
                            USA
                        </p>
                    </div>
                    <div class="col-xs-6 col-sm-5 col-sm-offset-1">
                        <img class="team-face img-responsive" src="/assets/faces/missing.png"/>
                        <p>
                            <a href="">Sudarsan Padhy</a><br/>
                            Silicon Institute of Technology<br/>
                            Bhubaneswar, India
                        </p>
                    </div>
                    <div class="col-xs-6 col-sm-5 col-sm-offset-1">
                        <img class="team-face img-responsive" src="/assets/faces/missing.png"/>
                        <p>
                            <a href="">Siba Prasad Misra</a><br/>
			    Orissa Information Technology Society<br/>
                            India
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-10 col-lg-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Steering Committee (Rotating)</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-6 col-sm-5 col-sm-offset-1">
                        <img class="team-face img-responsive" src="/assets/faces/missing.png"/>
                        <p>
                            <a href="">Brajendra Panda</a><br/>
                            University of Arkansas<br/>
                            USA
                        </p>
                    </div>
                    <div class="col-xs-6 col-sm-5 col-sm-offset-1">
                        <img class="team-face img-responsive" src="/assets/faces/missing.png"/>
                        <p>
                            <a href="">Dipak Misra</a><br/>
                            XIM<br/>
                            Bhubaneswar, India
                        </p>
                    </div>
                    <div class="col-xs-6 col-sm-5 col-sm-offset-1">
                        <img class="team-face img-responsive" src="/assets/faces/missing.png"/>
                        <p>
                            <a href="">Mainak Chatterjee</a><br/>
                            University of Central Florida<br/>
                            USA
                        </p>
                    </div>
                    <div class="col-xs-6 col-sm-5 col-sm-offset-1">
                        <img class="team-face img-responsive" src="/assets/faces/missing.png"/>
                        <p>
                            <a href="">Bhawani Sankar Panda</a><br/>
			    IIT<br/>
                            India
                        </p>
                    </div>
                    <div class="col-xs-6 col-sm-5 col-sm-offset-1">
                        <img class="team-face img-responsive" src="/assets/faces/missing.png"/>
                        <p>
                            <a href="">Sanjay Mohapatra</a><br/>
			    XIM<br/>
                            Bhubaneswar, India
                        </p>
                    </div>
                    <div class="col-xs-6 col-sm-5 col-sm-offset-1">
                        <img class="team-face img-responsive" src="/assets/faces/missing.png"/>
                        <p>
                            <a href="">Prafulla K. Behera</a><br/>
			    Utkal University<br/>
                            Bhubaneswar, India
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
--->
