---
layout: default
slug: team
---

<h2>Program Committee</h2>




{% assign grouped = site.data.tpc | group_by: "track" %}


{% for tracks in grouped %}
{% if tracks.name != 'Conference' %}
<div class="row">
  <div class="col-md-10 col-lg-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">{{tracks.name}} Track Chairs &amp; Members </h3>
      </div>
      <div class="panel-body">
        <div class="row">    
          <div class="table-responsive">
            <table class="table">
              <tbody>
                <tr><th>Name</th><th>Affiliation</th><th>Role</th></tr>
                {% for member in tracks.items | sort: 'lastName' %}
                  <tr>
                    <td>
                      {% if member.role == 'Track Chair' %}<strong>{% endif %}
                      <a href="#">{{member.firstName}} {{member.lastName}}</a>
                      {% if member.role == 'Track Chair' %}</strong>{% endif %}
                    </td>
                    <td>
                      {% if member.role == 'Track chair' %}<strong>{% endif %}
                      {{member.organization}}
                      {% if member.role == 'Track Chair' %}</strong>{% endif %}
                    </td>
                    <td>
                      {% if member.role == 'Track chair' %}<strong>{% endif %}
                      {{member.role | capitalize}}
                      {% if member.role == 'Track Chair' %}</strong>{% endif %}
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
            
        </div> 
      </div> 
    </div>    
  </div>
</div>
{% endif %}
{% endfor %}
