---
layout: default
slug: team
---

<h2>Steering Committee</h2>
{% assign grouped = site.data.steeringcom | group_by: "ChairType" %}

{% for ChairType in grouped %}
<div class="row">
    <div class="col-md-10 col-lg-8">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">{{ChairType.name}}</h3>
        </div>
        <div class="panel-body">
          <div class="row">
            {% for item in ChairType.items %}
            <div class="col-xs-6 col-sm-5 col-sm-offset-1">
                      <p>
                        <a href='mailto:{{item.Email}}'>{{item.Name}}</a><br/>
                        {{item.Affiliation}}<br/>
                        {{item.Location}}
                      </p>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
</div>
{% endfor %}

