<footer class="inis-footer" role="contentinfo">
<div class="container">
    <div class="row">
      <p class="lead text-center">Sponsors</p>
      <div class="row">
	      <centering>
	        <div class="col-xs-3">
              <a href="http://www.ieee.org" class="thumbnail"><img src="/assets/logos/sponsors/ieee_mb_blue.jpg" alt="IEEE"/></a>
	        </div>
	        <div class="col-xs-3">
              <a href="http://www.computer.org" class="thumbnail"><img src="/assets/logos/sponsors/IEEE-CS_Logo.jpg" alt="Computer Society"/></a>
	        </div>
	        <div class="col-xs-3">
              <a href="https://www.computer.org/web/tcvlsi" class="thumbnail"><img src="/assets/logos/sponsors/TCVLSI.png" alt="TCVLSI"/></a>
	        </div>
		<div class="col-xs-3">
	   <a href="http://ieee-ceda.org/" class="thumbnail"><img src="/assets/logos/sponsors/CEDA_Logo_large_R.jpg" alt="CEDA"/></a>
	        </div>

		     
<!--
         {% for sponsor in site.data.List_of_Sponsors %}
            <div class="col-xs-2">

          <a href="{{sponsor.Link}}" class="thumbnail"><img src="/assets/sponsors/{{sponsor.Image}}" alt="{{sponsor.Organisation}}"/></a>
             </div>

      {% endfor %}-->
	      </centering>
      </div>
    </div>
	<div class="row">
		 <p class="lead text-center">Becoming a Sponsor</p>
<centering>
		<p>Would you like to see your company here?<a href="supporter-invitation.html"> Find out about supporting iNIS today!</a></p>
		</centering>
	</div>

    <hr/>
    <ul class="footer-links list-unstyled muted">
      Source on <li><a href="{{ site.repo }}">GitHub</a></li> maintained by
      <li><a href="http://cs.uwyo.edu/~mborowcz">Mike Borowczak</a></li>
    </ul>
  </div>
</footer>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="https://cdn.ncsu.edu/brand-assets/bootstrap/js/bootstrap.min.js"></script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-60330746-5', 'auto');
  ga('send', 'pageview');
</script>
