<div class="row"><div class="col-xs-12">&nbsp;</div></div>
<div class="page-header">
  <div class="row">
    <div class="col-xs-12">
   
      <img class="img-responsive" src="/assets/logos/iNIS2017.png" alt="icit-logo" />
      <div class="photo-credit">
        Photograph: <a title="Original on Flickr" href="https://www.flickr.com/photos/axelrd/10450712183/in/photolist-gVuCCP-gWVkBF-gWVpQS-gWVmbA-gVtHeh-gWVmMN-gVtEaj-gVtDBL-32n1ps-gVtJxP-gWVjo7-gVtLu5-dR9Fmt-gVtLmi-s2ZnLc-gVtLAs-gVuER6-gVtMp1-gVtMhY-gVuFuv-4Hd2n2-gWVjUY-9wjaXc-9wnfM7-gVtMFT-gWWkLz-gVtHHy-gWVpY7-gWVpDu-gWVoWC-gWWjFt-gWVj9u-gWVjb4-gWWksP-gWVnaQ-gVtHXS-gWVkEW-gVtKC4-gWVneZ-gWVnXo-gVtLqs-gWVjCA-gVtKWa-32mXj3-gVtNtp-dR89LB-32gXgR-32mYbQ-gWVmfK-32mqjy">Bhopal Skyline</a> by <a title="Author" href="https://www.flickr.com/photos/axelrd/">Axel Drainville</a> 
      </div>-->
    </div>
  </div>
</div>
