<div class="row"><div class="col-xs-12">&nbsp;</div></div>
<div class="page-header">
  <div class="row">
    <div class="col-xs-12">
   
<!--      <img class="img-responsive" src="/assets/logos/icit2016-bhubaneswar3.png" alt="icit-logo" />
      <div class="photo-credit">
        Photograph: <a title="Original on Flickr" href="https://www.flickr.com/photos/39456967@N06/26590987005/in/photolist-GvKL2c-59NKzo-CAzWqB-mEMNkS-mEPJGM-mEQ5J8-wTtQ36-xQZYFr-xQmyED-8SZ9SX-bq22Bz-8qrXbv-71aX4V-71wctJ-71sdwD-2oQrE3-2oQrFo-2pfGVJ-5SDWNc-5SDWBK-2oUnZ5-2oUnX9-71wy4J-7znhBo-2oRXyd-71waNh-qjH7Z3-6B9c69-y3X9Vt-y3gzh8-y3WXbg-x6gKTY-xKFT5Q-xKEiGj-71aYjM-71wd7J-e93x2T-6BjYKC-6BfNCi-xCuUYJ-xV7gb8-6BuJPH-6BuJMz-6ByUrL-71sLqz-71sKtp-2oSaN6-71sLBB-71vpgs-59JxPr">The Bhubaneswar City at night</a> by <a title="Author" href="https://www.flickr.com/photos/39456967@N06">दीपक</a> 
      </div>-->
    </div>
  </div>
</div>
